<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YouTube Clone{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 0;">
    <main>
        {% block content %}{% endblock %}

    </main>
    <footer style="text-align: center; padding: 10px; background-color: #222; color: white; position: fixed; bottom: 0; width: 100%;">
        <p>&copy;YouTube Clone 2025</p>
    </footer>

</body>
</html>
